Repository franklinbaldo/egregora: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, check-private-imports, check-test-config, check-lint-suppressions

.pre-commit-config.yaml:

exclude: ^(\.team/|artifacts/)
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: ["--fix", "--unsafe-fixes"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=2000"]
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: ["--allow-multiple-documents", "--unsafe"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  # Removed custom hooks - now handled by ruff + scripts/quality.sh
  # - check-complexity, check-dead-code, check-security: Use scripts/quality.sh instead
  - repo: local
    hooks:
      - id: vulture
        name: Check for dead code with vulture
        entry: uv run vulture
        args:
          ["src", "tests", "tests/vulture_whitelist.py", "--min-confidence=80"]
        language: system
        types: [python]
        pass_filenames: false
      # xenon removed - let ruff handle complexity (C901, PLR* rules)
      - id: check-private-imports
        name: Check private imports
        entry: scripts/dev_tools/check_private_imports.py
        language: python
        types: [python]
        pass_filenames: true
      - id: check-test-config
        name: Check test configuration
        entry: python scripts/dev_tools/check_test_config.py
        language: system
        pass_filenames: false
        files: tests/.*\.py$
      - id: check-lint-suppressions
        name: "Check for lint suppression comments (noqa, type: ignore)"
        entry: python scripts/dev_tools/check_lint_suppressions.py
        language: system
        types: [python]
        files: ^src/
      # prompt-change-validation and hire-vote-validation removed
      # (Jules governance hooks - not actively used)

fix: handle proxy URL format in get_repo_info for Jules scheduler
  .team/repo/core/github.py
Due: none

fix: handle stale QUEUED/PLANNING sessions blocking new Jules session creation
  .team/repo/scheduler/stateless.py
  tests/unit/team/test_scheduler.py
Due: vulture, check-private-imports, check-test-config

docs: align session state handling with official Jules API documentation
  .team/repo/scheduler/stateless.py
Due: none

docs: add comprehensive Jules API reference documentation
  docs/reference/jules-api.md
Due: none

fix: align Jules client with API spec - remove update_session, handle empty responses
  .team/repo/core/client.py
Due: none

feat: add 5xx retry logic and skip PAUSED sessions
  .team/repo/core/client.py
  .team/repo/scheduler/stateless.py
Due: none

fix(deps): add grpcio-status for improved gRPC error messages
  pyproject.toml
  uv.lock
Due: none

fix(ci): remove non-existent module import in sync-main.py
  .github/scripts/jules/sync-main.py
  pyproject.toml
Due: vulture, check-private-imports

fix(ci): create jules branch from main if it doesn't exist
  .github/WORKFLOWS_ANALYSIS.md
  .github/scripts/jules/sync-main.py
Due: vulture, check-private-imports

fix: detect Jules PRs by URL in body, not just bot username
  .github/workflows/jules.yml
Due: none

feat(scheduler): merge existing ci-fixer PRs instead of creating duplicates
  .team/repo/scheduler/stateless.py
  CLAUDE.md
  docs/personas.md
  src/egregora/agents/enricher.py
Due: vulture, check-private-imports, check-lint-suppressions

fix(scheduler): use correct Jules URL pattern (sessions/ not session/)
  .team/repo/scheduler/stateless.py
Due: none

docs: rewrite CLAUDE.md based on actual codebase state
  CLAUDE.md
Due: none

feat(scheduler): add createTime activity filtering for efficient polling
  .team/repo/core/client.py
  .team/repo/features/polling.py
  tests/step_defs/test_email_polling_steps.py
  tests/unit/team/test_client_refactor.py
  tests/unit/team/test_polling.py
Due: vulture, check-private-imports, check-test-config

feat(scheduler): add repoless sessions and ephemeral session pool
  .team/repo/core/client.py
  .team/repo/features/ephemeral_pool.py
  .team/repo/features/pr_reviewer.py
  tests/unit/team/test_ephemeral_pool.py
Due: vulture, check-private-imports, check-test-config

feat(scheduler): add generic persona sessions and action runner workflow
  .team/actions/done/.gitkeep
  .team/actions/new/.gitkeep
  .team/repo/features/action_runner.py
  .team/repo/features/ephemeral_pool.py
  .team/repo/features/maya_analyst.py
  tests/unit/team/test_ephemeral_pool.py
Due: vulture, check-private-imports, check-test-config

fix(scheduler): add API health check to fail early on auth errors
  .team/repo/scheduler/stateless.py
  tests/unit/team/test_ephemeral_pool.py
Due: vulture, check-private-imports, check-test-config

docs(jules-api): update skill with latest API features and changelog
  .claude/skills/jules-api/SKILL.md
Due: none

fix(ci): resolve vulture dead code warnings in test files
  tests/step_defs/test_email_polling_steps.py
  tests/unit/team/test_ephemeral_pool.py
  tests/unit/team/test_polling.py
Due: vulture, check-private-imports, check-test-config

fix(jules): detect Jules PRs by URL in body, not just author
  .github/scripts/jules/enable-auto-merge.sh
Due: none

fix(jules): add --squash to auto-merge command
  .github/scripts/jules/enable-auto-merge.sh
Due: none

fix(scheduler): add --merge flag to gh pr merge commands
  .team/repo/scheduler/stateless.py
Due: none

fix(sync): configure git user identity before merge
  .github/scripts/jules/sync-main.py
Due: vulture, check-private-imports

refactor(scheduler): remove dedicated ci-fixer mechanism
  .team/repo/scheduler/stateless.py
Due: none

chore(ci): relax overly strict CI checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

chore(personas): remove typeguard and fix lore output block
  .team/personas/lore/prompt.md.j2
  .team/personas/typeguard/journals/2026-01-20-0450-Journal.md
Due: none

fix(sync): add bidirectional sync between main and jules branches
  .github/scripts/jules/sync-main.py
  .team/repo/scheduler/stateless.py
  tests/unit/team/test_scheduler.py
Due: vulture, check-private-imports, check-test-config

docs: investigation report for causaganha degraded status
  INVESTIGATION_CAUSAGANHA_DEGRADED.md
Due: none

fix(ci): use system-installed ruff instead of pre-commit managed binary
  .pre-commit-config.yaml
Due: none

fix(personas): standardize guardrails format and add missing BDD
  .team/personas/bdd_specialist/prompt.md.j2
  .team/personas/builder/prompt.md.j2
  .team/personas/meta/prompt.md.j2
Due: none

feat(personas): add session continuity block for Ralph Loop support
  .team/repo/templates/base/persona.md.j2
  .team/repo/templates/blocks/session_continuity.md.j2
Due: none

refactor(templates): restructure base persona from RGCCOV to ROSAV framework
  .team/repo/templates/base/persona.md.j2
Due: none

feat(templates): strengthen my-tools email nudges for inter-persona collaboration
  .team/repo/templates/blocks/communication.md.j2
  .team/repo/templates/blocks/session_continuity.md.j2
  .team/repo/templates/blocks/session_protocol.md.j2
  .team/repo/templates/partials/journal_management.md.j2
Due: none

feat(my-tools): add unread email notification panel to login output
  .team/repo/cli/my_tools.py
Due: none

feat(templates): strengthen self-improvement block with prompt paths and journal-first rule
  .team/repo/templates/blocks/environment_awareness.md.j2
Due: none

chore: fix ruff lint issues and update CLAUDE.md persona table
  CLAUDE.md
  src/egregora/orchestration/pipelines/execution/processor.py
  src/egregora/orchestration/pipelines/write.py
Due: vulture, check-private-imports, check-lint-suppressions

docs: update all persona documentation to reflect current 21-persona team
  .team/IMPROVEMENT_REPORT.md
  .team/PARALLEL_PERSONAS_PLAN.md
  .team/PARALLEL_PERSONAS_PROMPT.md
  .team/PARALLEL_PERSONAS_README.md
  .team/README.md
Due: none

feat(personas): add Evaluator persona for robin round performance evaluation
  .team/README.md
  .team/personas/evaluator/evaluations/.gitkeep
  .team/personas/evaluator/journals/.gitkeep
  .team/personas/evaluator/prompt.md.j2
  CLAUDE.md
Due: none

fix(scheduler): ensure jules branch exists on remote before session creation
  .team/repo/scheduler/stateless.py
  .team/tests/test_ensure_jules_branch.py
Due: none
