Repository franklinbaldo/egregora: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, vulture, check-private-imports, check-test-config

.pre-commit-config.yaml:

exclude: ^(\.team/|artifacts/)
repos:
  - repo: local
    hooks:
      - id: ruff
        name: Ruff lint
        entry: uv run ruff check --fix --unsafe-fixes
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff format
        entry: uv run ruff format
        language: system
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=2000"]
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: ["--allow-multiple-documents", "--unsafe"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  # Removed custom hooks - now handled by ruff + scripts/quality.sh
  # - check-complexity, check-dead-code, check-security: Use scripts/quality.sh instead
  - repo: local
    hooks:
      - id: vulture
        name: Check for dead code with vulture
        entry: uv run vulture
        args:
          ["src", "tests", "tests/vulture_whitelist.py", "--min-confidence=90"]
        language: system
        types: [python]
        pass_filenames: false
      # xenon removed - let ruff handle complexity (C901, PLR* rules)
      - id: check-private-imports
        name: Check private imports
        entry: scripts/dev_tools/check_private_imports.py
        language: python
        types: [python]
        pass_filenames: true
      - id: check-test-config
        name: Check test configuration
        entry: python scripts/dev_tools/check_test_config.py
        language: system
        pass_filenames: false
        files: tests/.*\.py$
      # check-lint-suppressions removed - allow noqa/type:ignore for edge cases
      # prompt-change-validation and hire-vote-validation removed
      # (Jules governance hooks - not actively used)

refactor(evaluator): replace history.csv refs with actual data sources
  .team/personas/evaluator/prompt.md.j2
Due: none

chore(evaluator): remove unnecessary NOTE about nonexistent files
  .team/personas/evaluator/prompt.md.j2
Due: none

test(scheduler): update discover_personas test for filesystem-only discovery
  tests/unit/team/test_scheduler.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

refactor(evaluator): replace gh CLI with git log and GitHub REST API
  .team/personas/evaluator/prompt.md.j2
Due: none

fix(evaluator): remove invalid --author="" from git log command
  .team/personas/evaluator/prompt.md.j2
Due: none

docs: reconcile stale CLI flags, state/ refs, and schedules.toml
  .team/README.md
  AGENTS.md
  CLAUDE.md
  tests/unit/team/test_scheduler.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

feat: prefer rebase strategy for Jules PR auto-merge
  .github/BRANCH_PROTECTION.md
  .github/scripts/jules/enable-auto-merge.sh
Due: none

perf: optimize CI workflow with path filtering and caching
  .github/workflows/ci.yml
Due: none

fix(team): remove scheduler inconsistencies and stale config
  .team/README.md
  .team/repo/scheduler/stateless.py
Due: none

feat(scheduler): frontmatter-based scheduling opt-out and Oracle prompt from disk
  .team/README.md
  .team/personas/oracle/prompt.md.j2
  .team/repo/scheduler/stateless.py
  tests/unit/team/test_scheduler.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

refactor(team): cut 4 personas, expand Forge, stop Shepherd threshold bumps
  .team/README.md
  .team/personas/forge/prompt.md.j2
  .team/personas/shepherd/prompt.md.j2
  CLAUDE.md
  tests/unit/team/test_persona_loader.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

Potential fix for code scanning alert no. 138: Code injection
  .github/workflows/jules.yml
Due: none

Potential fix for code scanning alert no. 123: Incomplete URL substring sanitization
  .team/repo/core/github.py
Due: none

fix: remove dead GitHub Actions, add frontmatter error handling
  .github/actions/gemini-run/action.yml
  .github/actions/shared-gemini-runner/action.yml
  .github/scripts/analyze_historical_regressions.py
  .github/scripts/construct_gemini_prompt.py
  .github/workflows/ci.yml
  .team/repo/scheduler/stateless.py
  tests/unit/test_construct_gemini_prompt.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

fix: prevent sync from destroying unmerged jules commits
  .github/scripts/jules/sync-main.py
  .team/repo/scheduler/stateless.py
  .team/tests/test_ensure_jules_branch.py
Due: ruff, ruff-format, vulture, check-private-imports

design: redesign blog layout with minimal, light-focused aesthetic
  src/egregora/rendering/templates/site/overrides/stylesheets/extra.css
Due: none

feat: implement Connection Health Report (RFC 041)
  src/egregora/agents/writer.py
  src/egregora/cli/main.py
  src/egregora/cli/write.py
  src/egregora/config/settings.py
  src/egregora/orchestration/pipelines/health.py
  src/egregora/orchestration/pipelines/write.py
  src/egregora/output_sinks/mkdocs/site_generator.py
  src/egregora/rendering/templates/site/docs/health.md.jinja
  tests/unit/orchestration/pipelines/test_health.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

refactor: use main branch directly for Jules sessions, remove sync layer
  .github/WORKFLOWS_ANALYSIS.md
  .github/scripts/jules/sync-main.py
  .github/workflows/jules.yml
  .team/README.md
  .team/repo/scheduler/__init__.py
  .team/repo/scheduler/stateless.py
  .team/repo/templates/blocks/environment_awareness.md.j2
  .team/tests/test_ensure_jules_branch.py
  tests/unit/team/test_scheduler.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

chore: fix Jules branch name to jules-cortex
  .team/repo/scheduler/stateless.py
Due: none

test: Comprehensive tests for errorhandler.py and error_boundary.py
  tests/unit/cli/test_errorhandler.py
  tests/unit/orchestration/test_error_boundary.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

feat: Add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: Improve SiteStructureError test assertions
  tests/unit/cli/test_errorhandler.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

test: Add BDD tests for error handling to fix coverage
  tests/unit/cli/test_errorhandler_bdd.py
  tests/unit/orchestration/test_error_boundary_bdd.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

fix: Add required 'path' parameter to SiteStructureError in tests
  tests/unit/cli/test_errorhandler.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

style: Apply ruff formatting to test_error_boundary.py
  tests/unit/orchestration/test_error_boundary.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

test: disable coverage fail-under for E2E suite
  tests/conftest.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

test: satisfy ruff fixes in error boundary unit tests
  tests/unit/orchestration/test_error_boundary.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

test: disable cov fail-under for E2E in pytest-cov plugin
  tests/conftest.py
Due: ruff, ruff-format, vulture, check-private-imports, check-test-config

fix(deps): Pin protobuf>=6.33.5 to fix CVE (Dependabot #14)
  pyproject.toml
Due: none

chore(docs): add repomix configs for docs-pages workflow
  repomix-code.json
  repomix-docs.json
  repomix-tests.json
Due: none

blog: Day 11 - The Cleanup, the Scaling, and the TRE Bug
  content/blog/day-11-cleanup-scaling-tre-bug.md
Due: none
